/* positon: the style that is present at the bottom is the actually one that applied
[[ means it applied line by line so that style come at last that property will applied]]  */

p{
    padding: 10px;     
    padding: 10px 20px;
    margin: 2px 4px 6px 8px;
}